.block {
	background-color: var(--block-bg);
	border-radius: 1rem;
	padding: 1rem;
	transition: background var(--transition-duration) var(--transition-type);
}

.main-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;

	&-settings {
		position: absolute;
		top: 1rem;
		left: 1rem;
		z-index: 1;
	}

	&-image {
		display: block;
		border-radius: 50%;
		margin-bottom: .75rem;
	}

	&-text {
		font-weight: 500;
		color: var(--gray-light-color);
		margin-bottom: .125rem;
	}

	&-title {
		margin-bottom: 1.25rem;
	}

	&-btn {
		align-self: stretch;
	}

	&-link {
		--_width: 100%;

		--_font-weight: 500;
		--_color-active: var(--_color);
		--_background-color: var(--block-bg);
		--_background-color-active: var(--_background-color);
		--_border-radius: 1rem;
		--_padding-y: 1rem;
		--_padding-x: 1rem;

		--_icon-size: 1.5rem;
		--_icon-color: var(--light-4-color);
		--_icon-color-active: var(--_icon-color);

		justify-content: space-between;

		.btn-content {
			display: flex;
			align-items: center;
			gap: 1rem;

			&-image {
				display: block;
				background-color: var(--light-2-color);
				border-radius: .5rem;
				padding: .375rem;
				object-fit: contain;
			}
		}
	}
}

.share-block {
	flex: 1;
	background-color: var(--block-bg);
	margin-inline: calc(var(--container-offset) * -1);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	padding: 1.25rem var(--container-offset) 0;
	position: relative;
	z-index: 1;

	&-banner {
		color: #fff;
		background-color: #9759F4;
		margin: 0 calc(var(--container-offset) * -1) -1rem;
		padding: 6rem var(--container-offset);
		position: relative;

		&-picture {
			&:first-child {

				.share-block-banner-image {
					left: -2rem;
					bottom: -2rem;
					transform: rotate(160deg);
				}
			}

			&:nth-child(2) {

				.share-block-banner-image {
					right: 50%;
					bottom: -5.5rem;
					transform: rotate(-160deg) translateX(-50%);
				}
			}

			&:last-child {
				.share-block-banner-image {
					right: -2.5rem;
					bottom: -3rem;
					transform: rotate(-20deg) ;
				}
			}
		}

		&-image {
			display: block;
			position: absolute;
			object-fit: contain;
		}

		&-bg {
			background-image: url(../img/bg/bg-stars-2.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			padding-block: 2rem;
		}

		&-title {
			color: inherit;
			text-align: center;

			.icon {
				--_i-size: 2rem;
			}
		}
	}

	&-picture {
		display: grid;
		place-content: center;
		padding-block: 2rem;
	}

	&-image {
		display: block;
		object-fit: contain;
	}

	&-title {
		margin-bottom: 0;
	}

	&-list {
		display: grid;
		align-items: center;
		gap: 1rem;
	}

	&-hint {
		font-size: var(--fs-5);
		margin-bottom: 2rem;
	}

	&-btn {
		margin-top: auto;
	}
}