.block {
	background-color: var(--block-bg);
	border-radius: 1rem;
	padding: 1rem;
	transition: background var(--transition-duration) var(--transition-type);
}

.main-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;

	&-header {
		display: flex;
		align-items: start;
		justify-content: space-between;
		pointer-events: none;
		position: absolute;
		top: 1rem;
		left: 1rem;
		right: 1rem;
		z-index: 1;

		.btn {
			pointer-events: auto;
		}
	}

	&-rating {
		display: flex;
		gap: .375rem;
	}

	&-image {
		display: block;
		border-radius: 50%;
		margin-bottom: .75rem;
	}

	&-fieldset {
		--_field-fs: 1.25rem;
		--_field-fw: 500;

		margin-bottom: .125rem;

		.field {
			text-align: center;
		}
	}

	&-title {
		color: var(--light-7-color);
		margin-bottom: 1.25rem;
	}

	&-btn {
		white-space: nowrap;
		flex: 1;
	}

	&-link {
		--_width: 100%;

		--_font-weight: 500;
		--_color: var(--title-color);
		--_color-active: var(--_color);
		--_background-color: var(--block-bg);
		--_background-color-active: var(--_background-color);
		--_border-radius: 1rem;
		--_padding-y: 1rem;
		--_padding-x: 1rem;

		--_icon-size: 1.5rem;
		--_icon-color: var(--light-4-color);
		--_icon-color-active: var(--_icon-color);

		justify-content: space-between;

		.btn-content {
			display: flex;
			align-items: center;
			gap: 1rem;

			&-image {
				display: block;
				background-color: var(--light-2-color);
				border-radius: .5rem;
				padding: .375rem;
				object-fit: contain;
			}
		}
	}

	&-footer {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
}

.share-block {
	flex: 1;
	background-color: var(--block-bg);
	margin-inline: calc(var(--container-offset) * -1);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	padding: 1.25rem var(--container-offset) 0;
	position: relative;
	z-index: 1;

	&-banner {
		color: #fff;
		background-color: #9759F4;
		margin: 0 calc(var(--container-offset) * -1) -1rem;
		padding: 6rem var(--container-offset);
		position: relative;

		&-picture {
			&:first-child {

				.share-block-banner-image {
					left: -2rem;
					bottom: -2rem;
					transform: rotate(160deg);
				}
			}

			&:nth-child(2) {

				.share-block-banner-image {
					right: 50%;
					bottom: -5.5rem;
					transform: rotate(-160deg) translateX(-50%);
				}
			}

			&:last-child {
				.share-block-banner-image {
					right: -2.5rem;
					bottom: -3rem;
					transform: rotate(-20deg) ;
				}
			}
		}

		&-image {
			display: block;
			position: absolute;
			object-fit: contain;
		}

		&-bg {
			background-image: url(../img/bg/bg-stars-2.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			padding-block: 2rem;
		}

		&-title {
			color: inherit;
			text-align: center;

			.icon {
				--_i-size: 2rem;
			}
		}
	}

	&-picture {
		display: grid;
		place-content: center;
		padding-block: 2rem;
	}

	&-image {
		display: block;
		object-fit: contain;
	}

	&-title {
		margin-bottom: 0;
	}

	&-list {
		display: grid;
		align-items: center;
		gap: 1rem;
	}

	&-hint {
		font-size: var(--fs-5);
		color: var(--light-6-color);
		margin-bottom: 2rem;
		transition: color var(--transition-duration) var(--transition-type);
	}

	&-btn {
		margin-top: auto;
	}
}

.rating-block {
	flex: 1;
	background-color: var(--body-bg);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	padding: 1rem var(--container-offset);
	position: relative;

	&,
	&-picture {
		margin-inline: calc(var(--container-offset) * -1);
	}

	&-picture {
		display: flex;
		justify-content: center;
		background-color: var(--primary-color-500);
		padding-block: 3rem;
		margin-bottom: -1.75rem;
		position: relative;

		&-bg {
			background-image: url(../img/bg/bg-stars-3.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			pointer-events: none;
			user-select: none;
			position: absolute;
			inset: 3rem 0 3rem;
		}
	}

	&-header {
		text-align: center;
		background-color: var(--block-bg);
		margin-bottom: 1rem;
		border-radius: 1rem;
		padding: 1rem;
	}

	&-title {
		font-size: 1.25rem;
		margin-bottom: .25rem;
	}

	&-text {
		font-size: 1.125rem;
		letter-spacing: -.02em;
		color: var(--gray-light-color);
	}

	&-footer {
		background-color: var(--block-bg);
		margin-top: 1rem;
		border-radius: 1rem;
		padding: 1rem;
	}
}

.leaderboard-block {

	&-picture {
		display: flex;
		justify-content: center;
		margin-bottom: 1.5rem;
	}

	&-title,
	&-text {
		letter-spacing: -.02em;
		text-align: center;
	}

	&-title {
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.25;
		margin-bottom: .25rem;
	}

	&-text {
		font-size: 1.125rem;
		color: var(--gray-light-color);
	}

	&-footer {
		margin-top: 1.5rem;
	}
}