.form-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.fieldset {
	--_field-width: 100%;
	--_field-height: 2.875rem;
	--_field-fs: var(--fs-base);
	--_field-fw: 400;
	--_field-lh: var(--lh-normal);
	--_field-color: var(--title-color);
	--_field-bg: var(--input-bg);
	--_field-border: 1px solid var(--input-bg);
	--_field-radius: 2.5rem;
	--_field-padding: .75rem 1.5rem;
	--_field-duration: var(--transition-duration);
	--_field-type: var(--transition-type);

	--_field-p-fs: var(--_field-fs);
	--_field-p-fw: var(--_field-fw);
	--_field-p-lh: var(--_field-lh);
	--_field-p-color: var(--_field-color);

	width: 100%;
	position: relative;

	&--icon {
		--_field-fs: var(--fs-1);
		--_field-fw: 500;

		.field {
			text-align: center;

			&:focus-visible,
			&:not(:placeholder-shown) {
				
				~ .field-blank {
					display: block;
				}
			}
		}
	}

	&--star {
		--_field-padding: .75rem .625rem;

		--_field-fs: var(--fs-4);
		--_field-p-fw: 400;
		--_field-p-color: var(--secondary-light-color);

		.field {

			&:focus-visible,
			&:not(:placeholder-shown) {
				--_field-fs: var(--fs-1);
				--_field-padding: .625rem 1rem .625rem 1.75rem;

				~ .field-blank {
					--_field-fs: var(--fs-1);
					--_field-padding: .625rem 1rem .625rem 1.75rem;
				}
			}
		}
	}

	&--ton {
		--_field-padding: .59375rem 1.5rem;
		--_field-p-fs: var(--fs-base);
		--_field-color: var(--primary-color);
		--_field-p-color: var(--secondary-lighter-color);

		pointer-events: none;

		.field {
			
			&:focus-visible,
			&:not(:placeholder-shown) {
				--_field-padding: .59375rem 1rem .59375rem 1.75rem;
	
				~ .field-blank {
					--_field-padding: .59375rem 1rem .59375rem 1.75rem;
				}
			}
		}
	}

	&--plaintext {
		--_field-height: auto;
		--_field-bg: transparent;
		--_field-border: none;
		--_field-radius: 0rem;
		--_field-padding: 0rem;
	}
}

.field {
	width: var(--_field-width);
	min-height: var(--_field-height);
	font-size: var(--_field-fs);
	font-weight: var(--_field-fw);
	line-height: var(--_field-lh);
	color: var(--_field-color);
	background-color: var(--_field-bg);
	border: var(--_field-border);
	border-radius: var(--_field-radius);
	padding: var(--_field-padding);
	outline: none;
	transition-property: color, background, border;
	transition-duration: var(--_field-duration);
	transition-timing-function: var(--_field-type);

	&::placeholder {
		font-size: var(--_field-p-fs);
		font-weight: var(--_field-p-fw);
		line-height: var(--_field-p-lh);
		color: var(--_field-p-color);
	}

	&:not([readonly]) {
		&:focus-visible {
			--_field-p-color: rgba(0, 0, 0, 0);

			&::placeholder {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}

.field-blank {
	display: none;
	pointer-events: none;
	user-select: none;
	white-space: nowrap;
	font-size: var(--_field-fs);
	font-weight: var(--_field-fw);
	line-height: var(--_field-lh);
	color: rgba(0, 0, 0, 0);
	border: var(--_field-border);
	border-color: transparent;
	border-radius: var(--_field-radius);
	padding: var(--_field-padding);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	.icon {
		--_i-color: var(--_field-color);

		margin-left: calc((var(--_i-size) + .375rem) * -1);
		transform: translateY(.025em);
	}
}