.list-group {
	--list-group-item-padding-y: .5rem;
	--list-group-item-padding-x: 1rem;

	display: grid;
	grid-template-columns: 100%;
	align-items: flex-start;

	&-title {
		font-size: var(--fs-4);
		font-weight: 400;
		color: var(--gray-lighter-color);
		text-transform: uppercase;
		padding-inline: 1rem;
		margin-bottom: .375rem;
	}

	&-item {
		display: flex;
		align-items: center;
		color: var(--title-color);
		background-color: var(--block-bg);
		transition-property: background, color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-type);

		.icon {
			--_i-size: 2rem;

			margin: var(--list-group-item-padding-y) var(--list-group-item-padding-x);
		}

		.content {
			width: 100%;
			padding: var(--list-group-item-padding-y) var(--list-group-item-padding-x) var(--list-group-item-padding-y) 0;
		}

		&:first-child {
			border-top-left-radius: .75rem;
			border-top-right-radius: .75rem;
		}

		&:last-child {
			border-bottom-left-radius: .75rem;
			border-bottom-right-radius: .75rem;
		}

		&:not(:last-child) {
			.content {
				border-bottom: 1px solid var(--border-color);
				transition-property: border;
				transition-duration: var(--transition-duration);
				transition-timing-function: var(--transition-type);
			}
		}

		&-action {
			color: var(--title-color);

			.content {
				.icon {
					--_i-color: var(--light-4-color);
					transition-property: color;
					transition-duration: var(--transition-duration);
					transition-timing-function: var(--transition-type);
				}
			}
	
			&:active {
				color: var(--primary-color);
			}
		}
	}
}

.list-group--history {

	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		&-title {
			max-width: 6.25rem;
			font-weight: 500;
		}

		&-date {
			font-size: var(--fs-6);
			color: var(--light-5-color);
		}

		&-value,
		&-status {
			&.success {
				color: var(--success-color);
			}
			
			&.process {
				color: var(--danger-color);
			}
		}

		&-value {
			font-size: var(--fs-1);
			font-weight: 500;

			&.canceled {
				color: var(--error-color);
			}
		}

		&-status {
			font-size: var(--fs-4);
			text-align: right;

			&.canceled {
				color: var(--light-5-color);
			}
		}
	}
}

.list-group--settings {
	--list-group-item-padding-x: 1.25rem;

	.list-group-item {
		align-items: stretch;
	}

	.picture {
		flex-shrink: 0;
	}

	.image {
		display: block;
		object-fit: contain;
		margin: var(--list-group-item-padding-y) var(--list-group-item-padding-x);
	}

	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.icon {
			--_i-size: 1.25rem;

			margin: 0;
		}
	}
}

.list-group--switch {
	gap: 1rem;
}

.list-group--checkbox-radio {
	--list-group-item-padding-y: .75rem;
	--list-group-item-padding-x: 1.25rem;

	.list-group-item {
		padding-left: var(--list-group-item-padding-x);
		position: relative;
	}

	.checkbox-radio {
		appearance: none;
		background-color: transparent;
		vertical-align: top;
		margin: 0;
		border: 0;
		padding: 0;
		outline: none;
		pointer-events: none;
		user-select: none;
		position: absolute;
		inset: 0;

		&:checked {

			~ .content {

				.icon {
					opacity: 1;
				}
			}
		}
	}

	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		.icon {
			--_i-size: 1.25rem;
			--_i-color: var(--primary-color);

			margin: 0;
			opacity: 0;
			transition-property: opacity;
			transition-duration: var(--transition-duration);
			transition-timing-function: var(--transition-type);
		}
	}
}

.list-group--rating {

	.list-group-item {
		flex-direction: column;
		align-items: stretch;
		border-bottom: 1px solid var(--light-9-color);
		padding: .5rem 1rem;

		&:first-child {
			padding-top: 1rem;
			padding-bottom: .5rem;
		}

		&:last-child {
			border-bottom: none;
			padding-top: .5rem;
			padding-bottom: 1rem;
		}

		.value {
			font-family: var(--font-secondary);
			display: flex;
			align-items: center;
			gap: .375rem;
			font-size: 1.5rem;
			font-weight: 600;
			letter-spacing: -.02em;
		}

		.name {
			font-size: .75rem;
			letter-spacing: -0.01em;
			color: var(--gray-lighter-color);
		}
	}
}

.list-group--leaderboard {
	gap: 1rem;

	.list-group-item {
		gap: .75rem;
		border-radius: 1rem;
		padding: .75rem 1rem;

		&:not(:first-child) {
			background-color: transparent;
			padding: 0 1rem;
		}

		.picture {
			flex-shrink: 0;

			.image {
				width: 3rem;
				height: 3rem;
				border-radius: 50%;
				object-fit: cover;
			}
		}

		.image {
			display: block;
		}

		.content {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border: 0;
			padding: 0;
		}

		.name {
			font-weight: 600;
			line-height: 1.5;
			letter-spacing: -0.03em;
		}

		.rating {
			display: flex;
			align-items: center;
			gap: .25rem;
			font-size: .875rem;
			font-weight: 500;
			line-height: 1.8;
			letter-spacing: -0.03em;
			color: var(--gray-lighter-color);
		
			.icon {
				--_i-size: .625rem;

				margin: 0;
			}
		}

		.position {
			font-family: var(--font-secondary);
			text-align: right;
		}
	}
}

.list-disc {
	color: var(--title-color);
	margin-block: 2rem;
	padding-left: 1.25em;
	transition-property: color;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-type);

	::marker {
		color: var(--primary-color);
	}
}