.min-h-100 {
	min-height: 100%;
}

.min-vh-80 {
	min-height: 80vh;
}
.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.v-centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gap-base {
	gap: 1rem;
}

.gap-2-rem {
	gap: 2rem;
}

.mt-base {
	margin-top: 1rem;
}

.py-base {
	padding-block: 1rem;
}

.text-underline {
	text-decoration: underline !important;
}

.text-initial {
	text-decoration: initial !important;
}

.text-title {
	color: var(--title-color);
	transition: color var(--transition-duration) var(--transition-type);
}

.text-primary {
	color: var(--primary-color);
	transition: color var(--transition-duration) var(--transition-type);
}

.hint {
	font-size: var(--fs-5);
	color: var(--gray-lighter-color);
	margin: .5rem 1rem;
}